
/*----    Title Slide    ----*/

.title-slide {
  background-image: url("title-background.png");
  background-size: contain;
  background-color: white;
  color: white;
  vertical-align: bottom!important;
  padding-bottom: 150px;
  padding-left: 110px;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
    color: #8C3031;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: none;
}

.title-slide h2 {
  margin-bottom: 30px;
}

.title-slide .remark-slide-number{
  display: none;
}

/* end */
.end {
  background-image: url('thats-all.gif');
  background-size: cover;
}

.endstop {
  background-image: url('thats-all-folks.png');
  background-size: cover;
}
.endstop h1{
  color: white;
}

/*----    Progress Bar    ----*/

.remark-slide-number {
  position: inherit;
  color: transparent;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #8C3031;
}


/*----    Slide Theme    ----*/

h1, h2, h3, h4 {
    color: #8C3031;
}

h4 {
  font-size: 26pt;
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 code {
  font-size: 22pt;
}

a:-webkit-any-link {
  color: #d43019;
}

p {
  font-size: 18pt;
  color: #403d3d;
}

/* inverse */
.inverse {
    background-color: #8C3031;
    color: #e8e5e5;
    text-shadow: 0 0 20px #333;
}

.inverse .remark-slide-number{
  display: none;
}


/*----    list    ----*/

li {
  padding-bottom: 1em;
  font-size: 18pt;
  color: #403d3d;
}

/* li-compact */
.li-compact li {
  padding-bottom: 0em;
}

.li-size-14 li {
  padding-bottom: 0.5em;
  font-size: 14pt;
}

.li-small li {
  padding-bottom: 0.5em;
  font-size: 16pt;
}

.li-small p {
  font-size: 16pt;
  margin-bottom: 0px;
  margin-top: 0px;
}

li, img {
  vertical-align: middle;
}


/*----    code    ----*/

/* code-block */
.code-block {
    background-color: #f7f7f7;
    font-size: 1em;
}

.code-small code {
  font-size:10pt;
}

.code-size-12 code, .code-size-12 remark-code-line {
  font-size:12pt;
}

.code-size-16 code, .code-size-16 remark-code, .code-size-16 remark-code-line {
  font-size:16pt;
}
.code-compact pre {
  margin: 0.25em 0px;
}

.remark-code{
  background: #f8f8f8;
  display: block;
  padding: .5em;
  color: #333;
}

.remark-inline-code{
  background-color: #f8f8f8;
}

.my-code-block .remark-code {
  display: inline-block;
}

.bad-code {
  border-left: 10px solid #FF6961 !important;
  border-radius: 5px;
}

.good-code {
  border-left: 10px solid #77DD77 !important;
  border-radius: 5px;
}

.warn-code {
  border-left: 10px solid #FFC55C !important;
  border-radius: 5px;
}


/*----    blockquote    ----*/

blockquote {
  border-left: 5pt solid #8C3031;
  border-radius: 5pt;
  padding-left: 10pt;
}

/*----    icons    ----*/

.emoji-l, .emoji-l p {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.emoji-xl, .emoji-xl p {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.emoji-xxl, .emoji-xxl p {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.myicons {
  vertical-align: middle;
  padding-right: 10pt;
  filter: invert(39%) sepia(0%) saturate(83%) hue-rotate(168deg) brightness(97%) contrast(83%);
}

/*----    layout    ----*/

/* 60/40 */
.pull-left-60 {
  float: left;
  width: 57%;
}
.pull-right-40 {
  float: right;
  width: 37%;
}

/* 50/50 */
.pull-left-50 {
  float: left;
  width: 47%;
}
.pull-right-50 {
  float: right;
  width: 47%;
}

/* 40/60 */
.pull-left-40 {
  float: left;
  width: 37%;
}
.pull-right-60 {
  float: right;
  width: 57%;
}

/* 30/70 */
.pull-left-30 {
  float: left;
  width: 27%;
}
.pull-right-70 {
  float: right;
  width: 67%;
}
 /* margins */
.no-border p, .no-border h3, .no-border h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* down */
.move-down-20 {
  margin-top:20px  !important;
}

.move-down-30 {
  margin-top:30px  !important;
}

.move-down-40 {
  margin-top:40px  !important;
}

.move-down-44 {
  margin-top:44px  !important;
}

.move-down-50 {
  margin-top:50px  !important;
}

.move-down-60 {
  margin-top:60px  !important;
}

.move-down-80 {
  margin-top:80px  !important;
}

.move-down-90 {
  margin-top:90px  !important;
}

.move-down-110 {
  margin-top:110px  !important;
}

.move-down-120 {
  margin-top:120px  !important;
}

.move-down-140 {
  margin-top:140px  !important;
}

.move-down-170 {
  margin-top:170px  !important;
}

.move-down-175 {
  margin-top:175px  !important;
}

.move-down-210 {
  margin-top:210px  !important;
}

.move-down-270 {
  margin-top:270px  !important;
}

/* up */
.move-up-30 {
  margin-top:-30px  !important;
}

.move-up-50 {
  margin-top:-50px  !important;
}

.move-up-70 {
  margin-top:-70px  !important;
}

.move-up-100 {
  margin-top:-100px  !important;
}

.move-up-150 {
  margin-top:-150px  !important;
}

/* left */
.move-left-30{
  padding-left:30px
}

.move-left-100{
  padding-left:100px
}

.move-left-130{
  padding-left:130px
}

/* width */

.width-30{
  width: 30%!important;
  display: inline-block;s
}

.width-50{
  width: 50%!important;
  display: inline-block;s
}

.width-70{
  width: 70%!important;
  display: inline-block;s
}



/*----    text style    ----*/

/* font */
.font-18 p {
  font-size: 18pt;
}

.font-14 p {
  font-size: 14pt !important;
}

.font-25 {
  font-size: 25pt;
}


/* color */
.alpha {
  opacity: .5;
}

.color-red {
  color: #8C3031;
}

.color-red-equation p {
  color: #8C3031;
}

.color-white {
  color: white;
}


